dash
dash-renderer
dash-html-components
dash-core-components
dash_bootstrap_components
dpd_static_support
django
django-plotly-dash
Django-Heroku
channels
channels_redis
daphne
redis
whitenoise
django-bootstrap4
plotly
pytest
numpy